@charset "UTF-8";
/* ========================================================= [ #w ] */
#w h1, #w h2, #w h3, #w p, #w ol, #w ul, #w li, #w dl, #w dt, #w dd {
    margin: 0;
    padding: 0;
}
#w ol, #w ul {
    list-style: none;
}
.container{
    width: 95%;
    margin: auto;
}
#w{
    margin: auto;
    width: 916px;
}
/* ========================================================= [ #page ] */
#page {
    line-height: 1.4;
    padding: 0 0 0px;
    background: #f7f7f7;
}
#page a {
    color: #333;
    text-decoration: underline;
}
#page a:hover {
    color: #ff7f00;
    text-decoration: none;
}
#page h1, #page h2 {
    line-height: 1;
}
#page a.bt-more {
    padding: 6px 15px 5px 30px;
    border-radius: 3px;
    background: url(http://p.dmm.com/p/general/eikaiwa/bt/bg_more.png) no-repeat left center;
    color: #fff;
    text-decoration: none;
}
#page a.bt-more:hover {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
}
#page .bnr {
    margin: 80px 0 0;
    text-align: center;
}
/* ========================================================= [ #content ] */
#page #content {
    width: 340px;
    margin: 0px auto 0 !important;
}
#page.area-flow #content {
    width: 670px;
    margin-bottom: 40px;
    padding: 0 30px 1px;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3), 0 1px 0 #fff;
}
#page #content input {
    margin: -1px 4px 0;
}
#d-ie7 #page #content input {
    margin: -1px 0 0;
}
#page #content textarea {
    resize: vertical;
    width: 98%;
    min-height: 100px;
    font-size: 12px;
}
#page #content table th, #page #content table td {
    text-align: left;
    vertical-align: top;
}
#page #content .area-sect {
    margin: 0 0 40px;
}
#page #content .overview {
    margin: 0 0 30px;
}
#page #content .bx-text {
    margin: 0 0 20px;
    padding: 20px;
    border: 2px #efefef solid;
    background: #fff;
    text-align: center;
}
#page #content .tx-gray {
    color: #666;
}
#page #content div.portrait {
    width: 120px;
    margin: 0 6px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    text-align: center;
}
#page #content div.portrait a {
    color: #77b001;
    text-decoration: underline;
}
#page #content div.portrait a:hover {
    color: #ff7f00;
    text-decoration: none;
}
#page #content div.portrait span {
    display: block;
    line-height: 1.4;
    margin: 6px 0 0;
}
#page #content div.portrait > div {
    margin: 6px 0 0;
}
#page #content .linkarea {
    cursor: pointer;
}
/* ========================= headline */
#page.area-single #content h1, #page.area-static #content h1, #page.area-single #content .area-selecttype .area-find p:first-child {
    font-size: 36px;
    margin: 0 0 30px;
    padding: 4px 0 0 0px;
    /*background: url(../p/general/eikaiwa/common/ico_h1.gif) no-repeat left top;*/
}
#page.area-flow #content h1, #page.area-single #content h2 {
    margin: 0 -30px 30px;
    padding: 10px 15px;
    border-top: 1px #54c0ee solid;
    border-radius: 5px 5px 0 0;
    background: #70d1f3;
    color: #fff;
    font-size: 18px;
}
#page.area-flow #content h2 {
    margin: 0 0 12px;
    padding: 0 0 0 16px;
    background: url(http://p.dmm.com/p/general/eikaiwa/common/ico_h2.png) no-repeat left center;
}
#page.area-flow #content h2 img {
    vertical-align: middle;
}
/* ========================= table.form */
#page #content table.form {
    width: 100%;
    line-height: 2;
    margin: 0 auto 10px;
    border: none;
    border-collapse: separate;
    border-spacing: 8px;
}
#page #content table.form th {
    width: 25%;
    background: #efefef;
    font-weight: normal;
}
#page #content table.form th, #page #content table.form td {
    padding: 10px;
}
#page #content table.form td ul {
    overflow: hidden;
}
#page #content table.form td ul li {
    float: left;
    margin-right: 20px;
    white-space: nowrap;
}
#page #content table.form td img {
    margin: 10px 0 0;
}
#page #content table.form td input, #page #content table.form td select {
    margin: 2px 4px;
    vertical-align: -2px;
}
#page #content table.form td ul li label {
    padding: 3px 6px 3px 0;
}



/* ========================= div.confirm */
#page #content div.confirm {
    border-top: 1px #474747 solid;
}
#page #content div.confirm dl {
    padding: 4px 0;
    border-bottom: 1px #474747 solid;
}
#page #content div.confirm dl dt {
    float: left;
    width: 160px;
    padding: 10px;
    background: #474747;
    color: #fff;
}
#page #content div.confirm dl dd {
    margin: 0 0 0 180px;
    padding: 10px;
}
#page #content div.confirm dl dd p.nts {
    padding-top: 16px;
}
/* ==================== div.confirm.low */
#page #content div.confirm.low {
    border-top: 1px #c7c7c7 solid;
}
#page #content div.confirm.low dl {
    border-bottom: 1px #c7c7c7 solid;
}
#page #content div.confirm.low dl dt {
    background: #efefef;
    color: #333;
}

/* ========================= table.usr_profile */
#page #content table.usr_profile {
    border-top: 1px #474747 solid;
}
#page #content table.usr_profile tr {
    padding: 4px 0;
    border-bottom: 1px #474747 solid;
}
#page #content table.usr_profile tr th {
    float: left;
    width: 160px;
    padding: 10px;
    background: #474747;
    color: #fff;
}
#page #content table.usr_profile tr td {
    margin: 0 0 0 180px;
    padding: 10px;
}
#page #content table.usr_profile tr td p.nts {
    padding-top: 16px;
}

/* ==================== table.usr_profile.low */
#page #content table.usr_profile.low {
    border-top: 1px #c7c7c7 solid;
}
#page #content table.usr_profile.low tr {
    border-bottom: 1px #c7c7c7 solid;
}
#page #content table.usr_profile.low th td {
    background: #efefef;
    color: #333;
}
