@charset "utf-8";
/* スケジュール設定 */
#resist{
	line-height:2.0em;
	font-size:9pt;
}

#resist tr{
	height:30px;
}

#resist td{
	width:70px;
}

#resist li{
	display:block;
	text-align:center;
	padding:3px;
	float:left;
	border:solid 1pt #000;
	font-size:9pt;
	color:#000;
	cursor:pointer;
}

#resist table{
	overflow:hidden;
	font-weight:nomal;
	font-size:9pt;
}

#resist th{
	line-height:1.0em;
	text-align:center;
	vertical-align:middle;
	padding:2px;
	background:#ddd;
	border:solid 1.0pt #fff;
}

#resist td {
	text-align:center;
	vertical-align:middle;
	padding:2px;
	background:#eee;
	border:solid 1.0pt #fff;
}

img{
	padding:0px;
	margin:0px;
	cursor:pointer;
}

#resist img{
	width:100%;
	height:100%;
}


#resistbutton{
	text-align:center;
	padding:0;
	width:62px;
}

.link{
	display:inline-block;
	cursor:default;
	color:#aa6666;
}
.link:hover{
	color:#0000ff;
}

.cancel{

	cursor:default;
}

/* 英語予約の検索テーブル */
#serching table{
	background:#eee;
	width:250px !important;
	max-width:100%;
	font-size:9pt !important;
}

#serching th,#serching td{
	border:1pt solid #ddd;
	padding:3px;
}

#for_pc{
	display:none;
}

.no-sp{
	display:none;
}


